/* GLOBAL */

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#primary-container {
    max-height: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

a:any-link {
    color: rgb(164, 34, 59);
}

a:active {
    color: rgb(91, 221, 196);
}

/* HEADER */

header {
    width: 100%;
    padding: 1px 1em 0;
    margin-top: 0;
    border-radius: 0 0 1% 1%;
    box-shadow: 0 0 1.5em rgb(100, 100, 100);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    flex: 0 0 auto;
}

#logo-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: start;
}

#logo-image {
    height: 8em;
}

h1 {
    margin-bottom: 0.5rem;
}

#subtitle {
    margin-top: 0;
}

#mail {
    cursor: pointer;
    color: rgb(164, 34, 59);
}

#logout-container {
    padding-right: 5em;
}

/* MAIN */

main {
    width: 100%;
    margin: 0;
    padding: 0;
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

#divider-left {
    border-right: 2px solid rgb(0, 0, 0);
    flex: 1;
    height: 100%;
    margin: 0;
    padding: 2em;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

#divider-right {
    flex: 2;
    height: 100%;
    margin: 0;
    padding: 2em;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.inner-header {
    width: 100%;
    min-height: 4em;
    flex: 0 0 auto;
    border: 2px solid black;
    border-radius: 2em;
    margin-bottom: 2em;
}

.inner-container {
    width: 100%;
    flex: 1 1 auto;
    border: 2px solid black;
    border-radius: 2em;
    overflow: auto;
}

.inner-content {
    padding: 2rem;
}

/* FOOTER */

footer {
    width: 100%;
    padding: 0 1em 1em;
    margin-bottom: 0;
    box-shadow: 0 0 1em rgb(150, 150, 150);
    text-align: center;
    flex: 0 0 auto;
}

p:last-of-type {
    margin-bottom: 0;
}